.proj-title {
    font-size: 22px;
    margin-top: 12px;
}

.proj-description {
    font-size: 14px;
    color: #b2abab;
}

.subtext-badge {
    background: #262624;
    border-radius: 15px;
    padding: 13px;
    font-size: 14px;
}

.subtext-container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 10px;
}

.destination-btn {
    border-radius: 5px;
    border: 1px solid var(--accent);
    color: var(--accent);
    font-size: 13px;
    align-items: center;
    display: flex;
    gap: 5px;
}


.destination-btn:hover {
    border: 1px solid var(--accent);
    background: var(--ghost-accent);
}

@media (max-width: 768px) {
    .subtext-container {
        grid-template-columns: 1fr;
    }
}