.font-text {
    display: flex;
    align-items: center;
    width: 25rem;
    color: var(--accent);
}

.font-text::after, .font-text::before {
    content: "";
    flex: 1;
    border: 2px solid var(--accent);
}

.error-message {
    color: #f95e5e;
    margin: 0;
}