.project-featured {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
.project-card {
    background: var(--bg3);
    border: 1px solid rgb(117 159 71);
    overflow: hidden;
    position: relative;
    transition: border-color 0.3s;
}
.project-card:hover { border-color: var(--text2); }

.project-visual {
    max-height: 390px;
    position: relative;
    overflow: hidden;
}

.project-visual-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, transparent 50%, var(--bg3) 100%);
}

.project-body { padding: 24px 28px 28px; }

.project-num {
    font-family: var(--secondary-text), monospace;
    font-size: 15px;
    color: var(--text3);
    margin-bottom: 8px;
    letter-spacing: 0.08em;
}
.project-title {
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.2;
}
.project-desc {
    color: var(--text2);
    margin-bottom: 18px;
}
.project-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.project-stack {
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
}

.project-arrow {
    width: 36px;
    height: 36px;
    /*border: 1px solid var(--border2);*/
    border: 1px solid var(--accent);
    background: var(--ghost-accent);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text2);
    font-size: 14px;
    transition: background 0.2s, border-color 0.2s, color 0.2s;
    flex-shrink: 0;
    cursor: pointer
}
.project-card:hover .project-arrow {
    background: var(--accent);
    border-color: var(--accent);
    color: var(--bg);
}

/*.project-row {*/
/*    display: grid;*/
/*    grid-template-columns: repeat(3, 1fr);*/
/*    gap: 2px;*/
/*}*/
/*.project-row .project-visual { height: 160px; }*/


/*.container.modal-overlay {*/
/*    position: fixed;*/
/*    inset: 0;*/
/*    width: 100vw;*/
/*    height: 100vh;*/
/*    background: rgba(0, 0, 0, 0.6);*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    z-index: 1050;*/
/*}*/

/*.modal-background {*/
/*    background: white;*/
/*    border-radius: 8px;*/
/*    width: 90%;*/
/*    max-width: 700px;*/
/*    max-height: 90vh;*/
/*    overflow-y: auto;*/
/*    z-index: 1051;*/
/*}*/

@media (max-width: 768px) {
    .project-featured {
        grid-template-columns: 1fr;
    }

    .project-visual {
        max-height: 200px;
    }

    .project-desc {
        display: none;
    }

}